.*.swp
.build

META.yml
!META.json
MYMETA.yml
MYMETA.json
blib/
Build
_build/
pm_to_blib
dist.ini
MANIFEST
MANIFEST.bak
Finance-Bank-Schwab-*
exp/
tmp/
Changes.bak
log/tmp.log*

.local-v*
README

# podweaver backups
*.pm.bak
